


<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel" style="margin-top:100px;">

    <div class="carousel-inner">

      <div class="carousel-item" data-bs-interval="3000" >

        <div class="container m-2">

                    <div class="card d-block mx-auto w-75 m-3 shadow rounded">

                   <a href="https://wynk.in/music/playlist/romancing-in-the-rain/bb_1435302990498"><img src="https://img.wynk.in/unsafe/720x251/filters:no_upscale():format(webp)/https://s3.ap-south-1.amazonaws.com/discovery-prod-arsenal/arsenal/artworks/60b4dc5b529e4b1e2ac10de9/BANNER_182523660848179.png" alt="" width="100%" height="300px"></a>


                   </div>

        </div>


      </div>


      <div class="carousel-item " data-bs-interval="3000" >

        <div class="container m-2">

                    <div class="card d-block mx-auto w-75 m-3 shadow rounded">

                   <a href="https://wynk.in/music/playlist/beyond-bollywood/bb_1557816945454"><img src="https://img.wynk.in/unsafe/720x251/filters:no_upscale():format(webp)/https://s3.ap-south-1.amazonaws.com/discovery-prod-arsenal/arsenal/artworks/609585d36e2abf65732570d5/BANNER_519194824915357.png" alt="" width="100%" height="300px"></a>


                   </div>

        </div>


      </div>



      <div class="carousel-item active" data-bs-interval="3000" >

        <div class="container m-2">

                    <div class="card d-block mx-auto w-75 m-3 shadow rounded ">

                     <a href="https://wynk.in/music/artist/justin-bieber/wa_3e492912"><img src="https://img.wynk.in/unsafe/720x251/filters:no_upscale():format(webp)/https://s3.ap-south-1.amazonaws.com/discovery-prod-arsenal/arsenal/artworks/60b4a377a5d1b747fa829ac2/BANNER_25448337774211.png" alt="" width="100%" height="300px"></a>


                   </div>

        </div>


      </div>



      <div class="carousel-item "  data-bs-interval="3000">

        <div class="container m-2">

                    <div class="card d-block mx-auto w-75 m-3 shadow rounded">

                   <a href="https://wynk.in/music/playlist/feel-the-chill/bb_1449131194711"><img src="https://img.wynk.in/unsafe/720x251/filters:no_upscale():format(webp)/https://s3.ap-south-1.amazonaws.com/discovery-prod-arsenal/arsenal/artworks/60b4a245b72b4b1698558b0a/BANNER_25134936849937.png" alt="" width="100%" height="300px"></a>


                   </div>

        </div>


      </div>

      <div class="carousel-item " data-bs-interval="3000" >

        <div class="container m-2">

                    <div class="card d-block mx-auto w-75 m-3 shadow rounded">

                   <a href="https://wynk.in/music/playlist/k-pop-top-20/bb_1563191766680"><img src="https://img.wynk.in/unsafe/720x251/filters:no_upscale():format(webp)/https://s3.ap-south-1.amazonaws.com/discovery-prod-arsenal/arsenal/artworks/60a7ae02fbf50e0a563321d8/BANNER_845596976894340.png" alt="" width="100%" height="300px"></a>


                   </div>

        </div>


      </div>


      <div class="carousel-item " data-bs-interval="2000">

        <div class="container m-2">

                    <div class="card d-block mx-auto w-75 m-3 shadow rounded">

                   <a href="https://wynk.in/music/playlist/weekly-top-20/bb_1491818945339"><img src="https://img.wynk.in/unsafe/720x251/filters:no_upscale():format(webp)/https://s3.ap-south-1.amazonaws.com/discovery-prod-arsenal/arsenal/artworks/60b60ca66780793d1baf8166/BANNER_376724438433155.png" alt="" width="100%" height="300px"></a>


                   </div>

        </div>


      </div>






    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>













  <!--popular tracks--

<h3>Popular Tracks</h3>


  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">

    <div  *ngFor="let x of pop.tracks">

        <div class='col'>

            <div class="container">
                <div class="card w-100 m-3 shadow">

                    <img src="{{x.share.image}}" alt="">

                    <div class="card-body">
                        <h5>{{x.title}}</h5>
                          <p>{{x.subtitle}}</p>

                        <a href="{{x.share.href}}" class="btn btn-primary">View song</a>


                    </div>

                </div>

            </div>

        </div>

  </div>

</div>-->



<!--TOP 20 INTERNATIONAL HITS -->

<h4 class="mt-5">TOP PLAYLISTS OF SPOTIFY</h4>

<div class="row row-cols-1 row-cols-sm-3 row-cols-md-4 row-cols-lg-6">

  <div class="col">
    <div class="card w-100" style=" margin-top:50px">

   <img src="https://img.wynk.in/unsafe/275x275/filters:no_upscale():format(webp)/http://s3.ap-south-1.amazonaws.com/discovery-prod-arsenal/arsenal/artworks/60d03a5792f6a54bb5abe1e1/COLLECTION_18127742417944.png"
    alt="TAYLOR SWIFT" width="100%" height="200px" class="rounded">



  <button class="btn btn-sm btn-secondary" type="submit" (click)="onswift2(484129036);" >TOP 40 INTERNATIONAL</button>


    </div>

  </div>


  <div class="col">
    <div class="card w-100" style=" margin-top:50px">

   <img src="https://img.wynk.in/unsafe/275x275/filters:no_upscale():format(webp)/http://s3.ap-south-1.amazonaws.com/discovery-prod-arsenal/arsenal/artworks/60dd4ebae93cf0072179835a/COLLECTION_2949488623041145.png"
    alt="TAYLOR SWIFT" width="100%" height="200px" class="rounded">


    <button class="btn btn-sm btn-secondary" type="submit" (click)="onswift2(296831279);" >WEEKLY TOP 20:ENGLISH</button>


    </div>

  </div>

  <div class="col">
    <div class="card w-100" style=" margin-top:50px">

   <img src="https://img.wynk.in/unsafe/275x275/filters:no_upscale():format(webp)/http://s3-ap-south-1.amazonaws.com/wynk-music-cms/music/1574831633/srch_pplmumbai_BestBollywoodPlaylist27112019.jpg"
    alt="TAYLOR SWIFT" width="100%" height="200px" class="rounded">

    <button class="btn btn-sm btn-secondary" type="submit" (click)="onswift2(86954223);" >BEST OF BOLLYWOOD </button>



    </div>

  </div>

  <div class="col">
    <div class="card w-100" style=" margin-top:50px">

   <img src="https://img.wynk.in/unsafe/275x275/filters:no_upscale():format(webp)/https://s3.ap-south-1.amazonaws.com/discovery-prod-arsenal/arsenal/artworks/5fbc9de1bff2c74e78bc9fac/COLLECTION_5251969591579716.png"
    alt="TAYLOR SWIFT" width="100%" height="200px" class="rounded">


  <button class="btn btn-sm btn-secondary" type="submit" (click)="onswift2(455016487);" >NEW RELEASES</button>


    </div>

  </div>

  <div class="col">
    <div class="card w-100" style=" margin-top:50px">

   <img src="https://img.wynk.in/unsafe/275x275/filters:no_upscale():format(webp)/http://s3-ap-south-1.amazonaws.com/wynk-music-cms/music/1584513190/srch_adityamusic_A10400DAMTECPA476T.jpg"
    alt="SELENA GOMEZ" width="100%" height="200px" class="rounded">


  <button class="btn btn-sm btn-secondary" type="submit" (click)="onswift2(487099645);" >BEST OF SOUTH</button>

    </div>

  </div>


  <div class="col">


    <div class="card w-100" style=" margin-top:50px">

   <img src="https://img.wynk.in/unsafe/275x275/filters:no_upscale():format(webp)/http://s3-ap-south-1.amazonaws.com/wynk-music-cms/music/Weekend-Da-Plan-300x300.png"
    alt="JUSTIN BIEBER" width="100%" height="200px" class="rounded">



  <button class="btn btn-sm btn-secondary" type="submit" (click)="onswift2(338965882);" >WEEKEND MOOD</button>

    </div>

  </div>


</div>







<!--BTS hits-->


  <h1 class="m-5">{{BTS.tracks[0].subtitle}}</h1>


<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">

  <div  *ngFor="let x1 of BTS.tracks">

      <div class='col'>

          <div class="container">
              <div class="card w-100 m-4 shadow">

                  <img src="{{x1.share.image}}" alt="">

                  <div class="card-body">
                      <h5>{{x1.title}}</h5>
                        <p>{{x1.subtitle}}</p>

                      <a href="{{x1.share.href}}" class="btn btn-primary">View song</a>


                  </div>

          </div>



       </div>

      </div>





</div>

</div>




<!--justin hits-->


<h1 class="m-5">{{justin.tracks[0].subtitle}}</h1>


<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">

  <div  *ngFor="let x of justin.tracks">

      <div class='col'>

          <div class="container">
              <div class="card w-100 m-4 shadow">

                  <img src="{{x.share.image}}" alt="">

                  <div class="card-body">
                      <h5>{{x.title}}</h5>


                      <a href="{{x.share.href}}" class="btn btn-primary">View song</a>


                  </div>

          </div>



       </div>

      </div>





</div>

</div>








































